/* LogInComponent.css */

.login-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 14px
  }  